h1{
    font-size:36px;
}

h2{
    text-align: center;
}
.baslik{
    text-align: left;
    margin-bottom: 32px;
    color: #000 !important;
}

#nav-list {
  margin: 10px 0px !important;
  text-align: center;
}
#nav-list li {
  color: #000;
  text-align: center;
  margin:4px 0 !important;
  font-size: 1.2em;
  padding: 0px !important;
  border-bottom: 1px solid #ccc;
}
.chicken{
    background-color:gray;
    margin:4px;
    padding:8px;
    color: #000;
}
