h1{
    font-size:36px;
    text-align:center;
}

.chicken{
    background-color:gray;
    border:3px solid black;
    margin:16px;
}

.beef{
    background-color:gray;
    border:3px solid black;
    margin:16px;
}

.sushi{
    background-color:gray;
    border:3px solid black;
    margin:16px;
}



@media (min-width:992px){
    
}